@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|fontelico|iconicstroke|maki|openwebicons);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

@font-face {
	font-family:'Glyphicons Halflings';
	src:url(http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.eot);
	src:url(http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype)","url(http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.woff2") format("woff2)","url(http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.woff") format("woff)","url(http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.ttf") format("truetype)","url(http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.glyphicon.spinning {
	animation:spin 1s infinite linear;
	-webkit-animation:spin 1s infinite linear;
}

/*
.glyphicon {
	position:relative;
	top:1px;
	display:inline-block;
	font-family:'Glyphicons Halflings';
	font-style:normal;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}*/

@-ms-keyframes spin {
	from {
		-ms-transform:rotate(0deg);
	}
	
	to {
		-ms-transform:rotate(360deg);
	}
}

@-moz-keyframes spin {
	from {
		-moz-transform:rotate(0deg);
	}
	
	to {
		-moz-transform:rotate(360deg);
	}
}

@-webkit-keyframes spin {
	to {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	
	to {
		transform:rotate(360deg);
	}
}
