@import https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css;

@import https://code.jquery.com/ui/1.11.4/themes/flick/jquery-ui.css;

@import https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css;

@import colorsheets-glyphics.css;

/* @import url('https://ssl.gstatic.com/docs/script/css/add-ons.css'); */
/* @import url('https://ssl.gstatic.com/docs/script/css/add-ons1.css'); */
/* @import url('materialize.min.css'); */
/* @import url('bootply-google-plus-bootstrap.css'); */
/* @import url('colorsheets-viewport.css'); */
/* @import url('colorsheets-default.css'); */
/* ! - ICONS - */
md-icon {
	margin-left:.25em;
	margin-right:.25em;
	color:red;
}

/* ! - TYPOGRAPHY - */
.truncate {
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

/* ! - BODY SIZE - */
@media screen {
	/* body.iPhone,body.iPad, */
	body {
		margin:0;
		padding:0;
		/*display: flex;*/
		/*flex: 1;*/
		/*flex-direction: column;*/
		width:100vw;
		height:100vh;
	}
    
}

/* ! - GLOBALS - */
@media screen {
	:not(input):not(.selectable) {
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
		outline-style:none;
		outline-width:0;
		outline-color:-webkit-focus-ring-color;
		cursor:default;
	}
	input, textarea, textarea:focus, input:focus {
    	outline: 0;
		outline-style:none;
		outline-width:0;
		outline-color: transparent;
    }
}

@media all {
	/* ! - SHEET PANEL ELEMENTS - */
	
	/* ! - Sheet Panel Elements Borders - */

	.color-sheet-body .panel-heading,.color-sheet-body .panel-footer,.color-sheet-body .panel,.color-sheet-sheet .panel-heading,.color-sheet-sheet .panel-footer,.color-sheet-sheet .panel {
		border-radius:0!important;
		border:0 none!important;
		box-shadow:none;
	}
	
	/* ! - Sheet Panel Elements Position - */
		
	body.window-md .color-sheet-body > .panel:not(.color-sheet-body-left):not(.color-sheet-body-right):not(.color-sheet-body-bottom),body.window-md .color-sheet-body > div > .panel,body.window-sm .color-sheet-body > .panel:not(.color-sheet-body-left):not(.color-sheet-body-right):not(.color-sheet-body-bottom),body.window-sm .color-sheet-body > div > .panel {
		padding:5px;
		margin:0;
		display:inine-block;
	}
	
	body.window-xs .color-sheet-body > .panel:not(.color-sheet-body-left):not(.color-sheet-body-right):not(.color-sheet-body-bottom),body.window-xs .color-sheet-body > div > .panel {
		padding:0;
		margin:0;
		display:inine-block;
		background-color:transparent;
	}


}
@media all {
	/* ! - SHEET PANEL BODY - */

	/* ! - Sheet Panel Body Style - */
	.color-sheet-body > .panel:not(.color-sheet-body-left):not(.color-sheet-body-right):not(.color-sheet-body-bottom),.color-sheet-body > div > .panel {
		background-color:transparent;
		color:rgba(0,0,0,0.65);
		text-shadow:0 1px 2px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,1);
	}
	
	.color-sheet-body > .panel {
		background-color:transparent;
	}

	.color-sheet-sheet {
		margin-bottom: 0;
		text-align:left;
		min-height:100vh;
		display:flex !important;
		flex-direction:column;
		margin:0;
		padding:0;
		flex: 1;
	}
	
	.color-sheet-body {
		flex:1;
		width:100%;
		margin:0;
		padding:0;
	}


	/* ! - Sheet Panel Body Style Responsive - */
	body.window-xs .color-sheet-sheet > .panel-body {
		font-size:11pt;
	}
	
	body.window-sm .color-sheet-sheet > .panel-body {
		font-size:11pt;
	}
	
	body.window-md .color-sheet-sheet > .panel-body {
		font-size:12pt;
	}
	
	body.window-lg .color-sheet-sheet > .panel-body {
		font-size:12pt;
	}
	
	body.window-xl .color-sheet-sheet > .panel-body {
		font-size:13pt;
	}

	
	/* ! - Sheet Panel Body Position - */
	.color-sheet-body > .color-sheet-body-left,.color-sheet-body > .color-sheet-body-right,.color-sheet-body > .color-sheet-body-bottom {
		padding:0;
		margin:0;
	}
	
	.color-sheet-body > .panel:not(.color-sheet-body-left):not(.color-sheet-body-right):not(.color-sheet-body-bottom),.color-sheet-body > div > .panel {
		padding:10px;
		margin:0;
		display:inine-block;
		overflow-y:scroll;
	}
	
	.color-sheet-body .panel-body {
		min-height:180px;
		width:100%;
		height:100%;
	}
	
	.color-sheet-body .panel-body > :first-Child {
		flex:1;
	}
	
	/* ! - Sheet Panel Body Position Responsive - */
	body.window-xs .color-sheet-body .panel-body,body.window-sm .color-sheet-body .panel-body, {
		padding:2px;
		margin:0;
	}
	
	body.window-md .color-sheet-body .panel-body,body.window-md .color-sheet-body .panel-heading,body.window-sm .color-sheet-body .panel-heading,body.window-xs .color-sheet-body .panel-heading {
		padding-left:8px;
		padding-right:8px;
		margin:0;
	}
	
	body.iPhone .color-sheet-body,body.iPhone .color-sheet-body > .panel:not(.color-sheet-body-left):not(.color-sheet-body-right):not(.color-sheet-body-bottom),body.iPhone .color-sheet-body > div > .panel,body.iPad .color-sheet-body,body.iPad .color-sheet-body > .panel:not(.color-sheet-body-left):not(.color-sheet-body-right):not(.color-sheet-body-bottom),body.iPad .color-sheet-body > div > .panel {
		padding:0;
		margin:0;
	}
	
	body.iPhone .color-sheet-body,body.iPad .color-sheet-body {
		background-color:#fff!important;
	}
	

}

@media all {
	/* ! - SHEET PANEL EXTRAS - */
	
	/* ! - Sheet Panel Extras Footers - */
	.color-sheet-body .panel-footer {
	}
	
	.color-sheet-footer,.color-sheet-panel-footer {
		padding:0;
		margin:0;
		border:0 none;
	}
		
	/* ! - Sheet Panel Extras Headers - */
	.color-sheet-heading,.color-sheet-panel-heading {
		/*padding:0 15px;*/
		height:40px;
		overflow:hidden;
	}
	
	.color-sheet-heading .panel-title,.color-sheet-panel-heading .panel-title {
    	font-size: 16px;
    	max-width:50%;
    	min-width: 10em;
    	text-overflow: ellipsis;
    }
	
	.color-sheet-heading {
    	padding: 0.5em 0.5em 0.5em 0;
    	/*max-width: 100%;*/
    }
		
	.color-sheet-panel-heading {
/* 		overflow:visible; */
		line-height:20px;
		text-shadow:0 1px 4px rgba(0,0,0,0.25);
	}
	
	/* ! - Sheet Panel Extras Headers Status - */
	.color-sheet-body .panel-heading .status {
		padding:0 1em;
		color:rgba(255,255,255,0.75);
		text-shadow:0 1px 1px rgba(0,0,0,0.25);
	}
	
	/* ! - Sheet Panel Extras Toolbars - */
	.panel-heading.with-toolbar md-toolbar {
    	min-height: 100%;
    	display: flex;
    	flex:1;
    }
    
	.panel-heading.with-toolbar md-toolbar .grasppe-icon {
    	width: 1.25em;
    	height: 1.25em;
    	margin-bottom: -0.25em;
    	margin-left: 0.25em;
    	margin-right: 0.25em;
    }
    
	.panel-heading:not(.color-sheet-heading).with-toolbar {
		padding:0;
	}
	
	.panel-heading.with-toolbar .md-toolbar-tools {
		max-height:100%;
		min-height:100%;
		height:100%;
		margin:auto;
		vertical-align:middle;
		padding:0 .5em;
		flex: 1;
	}
	
	.panel-heading.with-toolbar .md-toolbar-tools > *,.panel-heading.with-toolbar .md-toolbar-tools > * > * {
		max-height:100%;
		min-height:100%;
		height:100%;
	}
	
	/* ! - Sheet Panel Extras Menus - */
    .grasppe-menu-element {
        font-size: 125%;
    }
    .grasppe-menu-element .grasppe-icon {
    	width: 2em;
    	height: 2em;
    	margin-left: 0.75em;
    	margin-right: 1em;
    	vertical-align: middle;
    }
    

	
	/* ! - Sheet Panel Extras Buttons - */
	
	.color-sheet-heading a,
	.color-sheet-heading button,
	.color-sheet-heading md-button {
/* 		margin:auto 0 auto .75rem; */
		min-width:28pt !important;
		text-shadow:0 1px 4px rgba(0,0,0,0.25);
		font-size:14px;
		color:#fff;
		width:28pt;
 		height:24pt;
 		margin-right: 0.25em;
 		margin-left: 0.25em;
	}
		
    .grasppe-icon.button-icon-size {
    	padding: 0;
    	margin: 0 0.25em;
    	height: auto;
    	overflow: visible;
    	font-size: 100%;
    	line-height: 100%;
    	vertical-align: baseline;
    }
   

}

@media all {
	/* ! - SHEET PANEL SHEETS STAGE - */
	/* ! - Sheet Panel Sheets Stage - */
	.color-sheet-contents-element {
		vertical-align:middle;
		display:flex;
		min-width:50vmin;
		min-height:50vmin;
		max-width:100%;
		max-height:100%;
		margin:0 auto;
		overflow:hidden;
	}
	
	.color-sheet-stage-element .panel-body {
		display:flex;
		min-height:400px;
	}
		
	body:not(.portrait):not(.window-sm) .color-sheet-stage-element.col-horizontal .panel-body {
		max-height:60vh;
		height:60vh;
		min-height:50vh;
	}
	
	body.window-xs .color-sheet-stage-element .panel-body,body.portrait .color-sheet-stage-element .panel-body,body.portrait .color-sheet-stage-element .panel-body,body.portrait .color-sheet-stage-element .panel-body {
		max-height:50vh!important;
		min-height:50vh!important;
		height:50vh!important;
	}
	
	.screening-sheet-overview.col-horizontal,.screening-sheet-results.col-horizontal {
		min-width:25em;
	}
	
	.screening-sheet-overview.col-vertical,.screening-sheet-results.col-vertical {
		min-height:25em;
	}
	
	.color-sheet-contents-element > :first-child {
		flex:1;
	}
	
	/* ! - Sheet Panel Sheets Stage Canvas - */
	.color-sheet-contents-element .plot-canvas {
		max-width:100%;
		max-height:100%;
		position:absolute;
		margin:0 auto;
		image-rendering:optimizeQuality;
		image-rendering:-moz-crisp-edges;
		image-rendering:-webkit-optimize-contrast;
		image-rendering:optimize-contrast;
		-ms-interpolation-mode:nearest-neighbor;
	}
	
	/* ! - Sheet Panel Sheets Stage Legend - */
	.color-sheet-contents-element .legend-wrapper {
		position:relative;
		margin:5px 2vmin -100%;
		width:auto;
		position:relative;
	}
}


@media all {
	/* ! - SHEET PANEL FORMS - */

	.color-sheet-controls-element,.color-sheet-controls-element input {
		text-shadow:0 1px 4px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,1);
	}
	
	.form-group.grasppe {
		margin-bottom:4px;
	/*max-width: 400px;*/
	}
	
	.form-group.grasppe .input-group input,.form-group.grasppe .input-group > *,.form-group.grasppe .input-group input:focus {
		border:none;
		background-color:transparent;
		box-shadow:none;
	}
	
	.form-group.grasppe .ui-slider-horizontal .ui-slider-label {
		color:rgba(0,0,0,0.5);
		margin-left:-1em;
		width:2em;
		position:absolute;
		overflow:visible;
		top:0;
		text-align:center;
		font-size:65%;
		top:12px;
		cursor:default;
	}
	
	.ui-slider-handle{
		z-index: 1 !important;
    }
	
	.form-group.grasppe .ui-slider-horizontal .ui-slider-labels {
		width:100%;
		background-color:red;
		height:100%;
		position:relative;
		top:100%;
		margin-top:2px;
		overflow:visible;
	}
	
	.form-group.grasppe .ui-slider-horizontal .ui-slider-bar {
		width:100%;
		height:6px;
		position:relative;
		top:50%;
		margin-top:-2px;
		overflow:visible;
		border-radius:5px;
		border:0 none rgba(227,227,227,0.5);
		background-color:rgba(227,227,227,0.5);
	}
	
	.form-group.grasppe .ui-slider-horizontal {
		border-color:transparent;
	}
	
	.form-group.grasppe .ui-slider-handle {
	/*border-bottom-left-radius: 50%;
				        border-bottom-right-radius: 50%;*/
	}
	
	.form-group.grasppe .ui-slider-horizontal {
	/*height:.25em;*/
		min-width:8em;
		width:100%;
	}
	
	.form-group.grasppe .control-label.input-group-addon {
		min-width:8em;
		max-width:8em;
		overflow-x:hidden;
		width:10%;
		text-align:left;
		font-weight:700;
		font-size:80%;
		padding-left:.5em;
		padding-right:.5em;
	}
	
	.form-group.grasppe .control-suffix.input-group-addon {
		min-width:3em;
		max-width:3em;
		text-align:left;
		overflow-x:hidden;
	}
	
	.form-group.grasppe .input-group.slider-group .control-text.form-control {
		text-align:right;
		min-width:4em;
		max-width:4em;
		height:100%;
	}
	
	.form-group.grasppe .input-group.slider-group .slider-wrapper,.form-group.grasppe .input-group.slider-group .form-control {
		margin:1em 0;
	}
	
	.form-group.grasppe .input-group.slider-group .input-group-addon.slider-wrapper {
		height:1em;
		width:100%;
		overflow-x:hidden;
		max-width:50vw;
		padding:auto 5px;
	}
	
	.col-vertical .form-group.grasppe .input-group {
		display:block;
		width:100%;
		text-align:center;
		margin:1.5em 0;
		padding-left:0;
		padding-right:0;
		font-size:12px;
		line-height:14px;
	}
	
	.col-vertical .form-group.grasppe .control-label {
		min-width:35%!important;
		max-width:35%!important;
		width:35%!important;
		margin:0 65% 0 0!important;
	/*background-color:blue;*/
	}
	
	.col-vertical .form-group.grasppe .input-group.slider-group .control-text {
		min-width:40%!important;
		max-width:40%!important;
		width:40%!important;
		margin:0 25% 0 35%;
		top:-5em;
	/*background-color:green;*/
	}
	
	.col-vertical .form-group.grasppe .input-group.slider-group .control-suffix {
		min-width:25%!important;
		max-width:25%!important;
		width:20%!important;
		margin:0 0 0 80%;
		top:-5em;
	/*background-color:red;*/
	}
	
	.col-vertical .form-group.grasppe .control-label,.col-vertical .form-group.grasppe .input-group.slider-group .control-text,.col-vertical .form-group.grasppe .input-group.slider-group .control-suffix {
		display:inline-flex;
		height:1.5em;
		position:relative;
		padding:0 .5em;
		font-size:12px;
		line-height:1.5em;
		vertical-align:baseline;
		margin-bottom:-1.5em;
		overflow-x:visible;
	}
	
	.form-group.grasppe .control-label,.form-group.grasppe .input-group.slider-group .control-text,.form-group.grasppe .input-group.slider-group .control-suffix {
		overflow-x:visible;
	}
	
	.col-vertical .form-group.grasppe .input-group.slider-group .slider-wrapper {
		display:block;
		width:100%;
		height:3em;
		position:relative;
		margin:.25em 0;
		padding-left:.5em;
		padding-right:.5em;
		font-size:12px;
		line-height:14px;
	}
}

@media print {
	.form-group.grasppe .ui-slider-handle {
		background-color:#fff!important;
		border:1px solid #000;
	}
}

@media all {
    
	/* ! - SHEET PANEL TABLES - */

	body.window-xs th,body.window-xs td {
		padding:0;
	}
	
	body.window-sm th,body.window-sm td {
		padding:1px;
	}
	
	body.window-md th,body.window-md td {
		padding:2px;
	}
	
	body.window-lg th,body.window-lg td {
		padding:3px;
	}
	
	body.window-xl th,body.window-xl td {
		padding:4px;
	}
	
	.color-sheet-body table {
    	width: 100%;
	}
	
	.color-sheet-body td,th {
		font-size:95%;
		border-radius:0;
		color:rgba(0,0,0,0.5);
	}
	
	.color-sheet-body td {
		text-shadow:0 1px 1px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,1);
	}
	
	.color-sheet-body th {
		background-color:rgba(0,0,0,0.5);
		color:#fff;
		text-align:center;
		text-shadow:0 1px 3px rgba(0,0,0,0.2),0 1px 0 rgba(0,0,0,1);
	}
	
	.color-sheet-body tr.table-group-header > td,td.table-group-header {
		background-color:rgba(127,127,127,0.01);
		border-bottom:1px inset rgba(0,0,0,0.15);
		color:rgba(0,0,0,0.75);
		text-align:center;
		border-radius:.25em;
	}
	
	.color-sheet-body tr.table-group-header > td,td.table-group-header > :first-child {
		margin-top:.25em;
		position:relative;
	}
	
	.color-sheet-body tr.table-group-header:before > td,td.table-group-header:before {
		width:100%;
		height:1em;
		background-color:red;
	}
	
	.color-sheet-body tr.table-last-row {
		border-bottom:1px solid rgba(0,0,0,0.05);
	}
	
	.color-sheet-body tr.table-odd-row {
		background-color:rgba(0,0,0,0.02);
	}
}

@media all {
    
	/* ! - SHEET PANEL MODAL - */
	
	.grasppe-modal-container > * {
    	padding: 0.5em 0.5em;
    	font-size: 12pt;
    	width: 100%;
    }
	
	.grasppe-modal-container md-toolbar {
    	padding: 0.5em 0.5em;
    	min-height: 5em;
    	max-height: 5em;
    	height: 5em;
    	display: flex;
    	flex-direction: row;
    	width: 100%;
    }
	.grasppe-modal-container header, 
	.grasppe-modal-container header > * {
    	margin: 0;
    	padding: 0;
    	flex: 1;
    	width: 100%;
    	vertical-align: middle;
    }
    
    .grasppe-modal-container header > *:not(:first-Child) {
        font-size:90%;
    }
    

}



@media none {
    
	.sheet-heading-buttons {
		margin:2px 0 0;
	}
	
	.sheet-heading-buttons a,
	.sheet-heading-buttons button,
	.sheet-heading-buttons md-button {
		margin:auto 0 auto .75rem;
		min-width:28pt;
		text-shadow:0 1px 4px rgba(0,0,0,0.25);
		font-size:14pt;
		color:#fff;
		width:28pt;
		height:24pt;
	}
	
	.color-sheet-element-options .btn,.color-sheet-element-options .md-mini {
		background-color:rgba(255,255,255,0.25)!important;
		color:#fff;
	}
	
	.color-sheet-element-options * {
		border-radius:0;
	}
	
	.color-sheet-element-options .dropdown-menu a {
		font-size:125%;
	}
	
	.color-sheet-element-options {
		display:block;
		position:relative;
		white-space:nowrap;
		vertical-align:text-bottom;
		margin:-10px -5px -10px -15px;
		padding:2px 3px;
	}
	
	.color-sheet-sheet-element md-fab-toolbar {
		margin-top:-70px;
	}
	
	.color-sheet-element-options > div {
		display:inline-block;
	}
	
	.color-sheet-sheet {
		text-align:left;
		min-height:100vh;
		display:flex;
		flex-direction:column;
		margin:0;
		padding:0;
	}
	
	
	.color-sheet-sheet > .panel-body {
		flex:1;
		width:100%;
		margin:0;
		padding:0;
	}
		
	.color-sheet-sheet-element {
	}
	.color-sheet-body md-toolbar,.color-sheet-body .md-toolbar-tools,.color-sheet-body md-toolbar * {
		min-height:0;
		height:auto;
	}
	
	.color-sheet-body .md-menu,.color-sheet-body md-menu {
		margin:0!important;
		padding:0!important;
	}
	
	.color-sheet-stage-element .panel-body {
		display:flex;
		min-height:400px;
	}
	
	.supercell-sheet-stage-canvas {
	/*border: 1px solid rgba(227,227,227,0.5);*/
		padding:0;
		margin:0;
	}
	
	body:not(.portrait):not(.window-sm) .color-sheet-stage-element.col-horizontal .panel-body {
		max-height:60vh;
		height:60vh;
		min-height:50vh;
	}
	
	body.window-xs .color-sheet-stage-element .panel-body,body.portrait .color-sheet-stage-element .panel-body,body.portrait .color-sheet-stage-element .panel-body,body.portrait .color-sheet-stage-element .panel-body {
		max-height:50vh!important;
		min-height:50vh!important;
		height:50vh!important;
	}
	
	.screening-sheet-overview.col-horizontal,.screening-sheet-results.col-horizontal {
		min-width:25em;
	}
	
	.screening-sheet-overview.col-vertical,.screening-sheet-results.col-vertical {
		min-height:25em;
	}
	
	body.iPhone .color-sheet-body,body.iPhone .color-sheet-body > .panel:not(.color-sheet-body-left):not(.color-sheet-body-right):not(.color-sheet-body-bottom),body.iPhone .color-sheet-body > div > .panel,body.iPad .color-sheet-body,body.iPad .color-sheet-body > .panel:not(.color-sheet-body-left):not(.color-sheet-body-right):not(.color-sheet-body-bottom),body.iPad .color-sheet-body > div > .panel {
		padding:0;
		margin:0;
	}
	
	body.iPhone .color-sheet-body,body.iPad .color-sheet-body {
		background-color:#fff!important;
	}
}


@media none {
	.modal.modal-fixed-header,.modal.modal-fixed-header > div {
		border-radius:0;
		overflow:hidden;
	}
	
	.modal.modal-fixed-header {
		min-height:90vh;
		margin-top:-5%;
		width:90vw;
		max-width:60em;
		display:flex;
		flex-direction:column;
	}
	
	.modal.modal-fixed-header .modal-header {
	/*background-color: #FFF;*/
		padding:24px 12px;
		margin:0;
		min-height:7em;
		overflow:hidden;
		text-overflow:ellipsis;
	}
	
	.modal.modal-fixed-header .modal-header header :first-Child:not(a) {
		font-size:24px;
	}
	
	.modal.modal-fixed-header .modal-content {
		border:0 none;
		border-radius:0;
		display:flex;
		max-height:100%;
		overflow:hidden;
		padding:0 24px;
		flex-direction:column;
		min-height:100%;
	}
	
	.modal.modal-fixed-header .modal-content .row {
		flex:1;
		display:flex;
		max-height:100%;
		overflow:hidden;
		padding:0;
		margin:0;
	}
	
	.modal.modal-fixed-header .modal-content .row .paper-body {
		flex:1;
		overflow-y:scroll;
	}
	
	.modal.modal-fixed-header .modal-content .row .paper-scroll {
		flex:.25;
		text-align:right;
	}
	
	.modal.modal-fixed-header .modal-content .row .paper-scroll li {
		display:block;
		width:100%;
	}
	
	.modal.modal-fixed-header .modal-content .row .paper-scroll a {
		display:block;
		white-space:nowrap;
	/*height: 2em;
			        width: 100%;*/
		border:0 none;
		text-align:right;
	}
	
	.modal.modal-fixed-header .modal-content .row .paper-scroll a:hover,.modal.modal-fixed-header .modal-content .row .paper-scroll a:focus {
		text-decoration:none;
		border:0 none;
	}
	
	.modal.modal-fixed-header .modal-footer {
		padding:.25em 2em;
	}
}

@media none {
	.loading-state > div:first-child:after {
		-webkit-animation:fa-spin 2s infinite linear;
		animation:fa-spin 2s infinite linear;
		content:'\e831';
		display:inline-block;
		font:normal normal normal 14px/1 fontelico;
		text-rendering:auto;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		position:relative;
		background-color:rgba(127,127,127,0.02);
		border-radius:50%;
		padding:5%;
		box-shadow:0 0 20vmin rgba(0,0,0,0.05),0 0 20vmin rgba(255,255,255,0.05);
		font-size:5vmin;
		vertical-align:top;
		top:35%;
		color:rgba(127,127,127,1);
		text-shadow:-1px -1px 2px rgba(0,0,0,0.15),1px -1px 2px rgba(0,0,0,0.15),-1px 1px 2px rgba(0,0,0,0.15),1px 1px 2px rgba(0,0,0,0.15),-1px -1px 0 rgba(255,255,255,1),1px -1px 0 rgba(255,255,255,1),-1px 1px 0 rgba(255,255,255,1),1px 1px 0 rgba(255,255,255,1);
	}
	
	.loading-state > div:first-child:after {
	}
	
	.loading-state > div {
		background-color:rgba(0,0,0,0.01);
	}
	
	.loading-state {
		filter:grayscale(100%) brightness(50%);
	}
}

@media all {
	
}