.sheet-heading-buttons .btn {
    margin: 0.5em 0.5em;
}

.sheet-heading-buttons .btn,
.sheet-heading-buttons .btn i  {
    font-size: 100%;
    color: white;
}

.panel-heading {
    border-radius: 0;
}
.color-sheet-sheet-element {
    text-align: left;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.color-sheet-sheet-element > .panel-body {
    flex: 1;
    width: 100%;
}

.color-sheet-body .panel-heading {
    height: 40px;
    line-height: 20px;
    
}

.color-sheet-body > .color-sheet-body-left,
.color-sheet-body > .color-sheet-body-right,
.color-sheet-body > .color-sheet-body-bottom {
    padding: 0;
    margin: 0;
}

.color-sheet-body > :not(.color-sheet-body-left):not(.color-sheet-body-right):not(.color-sheet-body-bottom),
.color-sheet-body > *,
.color-sheet-body-left > *,
.color-sheet-body-right > *,
.color-sheet-body-bottom > * {
    padding: 10px;
    margin: 0;
    display: inine-block;
    overflow-x: hidden;
}

body.iPhone .color-sheet-body,
body.iPhone .color-sheet-body > :not(.color-sheet-body-left):not(.color-sheet-body-right):not(.color-sheet-body-bottom),
body.iPhone .color-sheet-body > *,
body.iPhone .color-sheet-body-left > *,
body.iPhone .color-sheet-body-right > *,
body.iPhone .color-sheet-body-bottom > * {
    padding: 0px;
    margin: 0;
}


.color-sheet-body .panel-body {
    min-height: 180px;
}

.color-sheet-stage-element .panel-body {
    min-height: 450px;
}

body:not(.portrait):not(.window-sm) .color-sheet-stage-element.col-horizontal .panel-body {
    max-height: 80vh;
    height: 80vh;
    min-height: 50vh;
}

body.portrait .color-sheet-stage-element .panel-body,
body.portrait .color-sheet-stage-element .panel-body {
    max-height: 50vh !important;
    min-height: 50vh !important;
    height: 50vh !important;
}


.screening-sheet-overview.col-horizontal,
.screening-sheet-results.col-horizontal {
    min-width: 25em;
}

.screening-sheet-overview.col-vertical,
.screening-sheet-results.col-vertical {
    min-height: 25em;
}


.col-vertical .form-group.grasppe .input-group {
    display: block;
    width: 100%;
    text-align: center;
    margin: 1.5em 0;
    padding-left: 0; padding-right: 0;
    font-size: 12px;
    line-height: 14px;

}

.col-vertical .form-group.grasppe .control-label {
    min-width: 35% !important;
    max-width: 35% !important;
    width: 35% !important;
    margin: 0 65% 0 0 !important;
    /*background-color:blue;*/
}

.col-vertical .form-group.grasppe .input-group.slider-group .control-text {
    min-width: 40% !important;
    max-width: 40% !important;
    width: 40% !important;
    margin: 0 25% 0 35%;
    top: -5em;
    /*background-color:green;*/
}

.col-vertical .form-group.grasppe .input-group.slider-group .control-suffix {
    min-width: 25% !important;
    max-width: 25% !important;
    width: 20% !important;
    margin: 0 0 0 80%;
    top: -5em;
    /*background-color:red;*/
}


.col-vertical .form-group.grasppe .control-label,
.col-vertical .form-group.grasppe .input-group.slider-group .control-text,
.col-vertical .form-group.grasppe .input-group.slider-group .control-suffix {
    display: inline-flex;
    height: 1.5em;
    position: relative;
    padding: 0 0.5em;
    font-size: 12px;
    line-height: 1.5em;
    vertical-align: baseline;
    margin-bottom: -1.5em;
    overflow-x:visible;
}

.form-group.grasppe .control-label,
.form-group.grasppe .input-group.slider-group .control-text,
.form-group.grasppe .input-group.slider-group .control-suffix {
    overflow-x:visible;
}



.col-vertical .form-group.grasppe .input-group.slider-group .slider-wrapper {
    display:block;
    width: 100%;
    height: 3em;
    position: relative;
    margin: 0.25em 0;
    padding-left: 0.5em; padding-right: 0.5em;
    font-size: 12px;
    line-height: 14px;

}


